<a href="/users/<%= current_user.id%>"><h1>Secrets</h1></a>
<% @secrets.each do |secret| %>
  <p><%= secret.content %></p>
  <p><%= secret.likes.count %> like(s)
  <% if not secret.users.exists?(:id => current_user.id) %>
  <a href="/secrets/<%= secret.id %>/like"><button>Like</button></a></p>
  <% elsif secret.users.exists?(:id => current_user.id)%>
  <a href="/secrets/<%= secret.id %>/unlike"><button>Unlike</button></a></p>
  <% end %>
  <% if current_user == secret.user %>
  <form action="/secrets/<%= secret.id %>/delete" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
  <% end %>
<% end %>
