<h1>Listing <%= @count %> Dojos</h1>
<br>
<table>
  <tr>
    <th>Conding Dojo Branch</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Actions</th>
  </tr>
  <% @dojos.each do |dojo| %>
    <tr>
      <td><%= dojo.branch%></td>
      <td><%= dojo.street%></td>
      <td><%= dojo.city%></td>
      <td><%= dojo.state%></td>
      <td>
        <a href="/show/<%= dojo.id%>">Show</a> |
        <a href="/edit/<%= dojo.id%>">Edit</a> |
        <a href="/destroy/<%= dojo.id%>">Destroy</a>
      </td>
    </tr>
  <% end %>
</table>
<br>
<a href="/new">New Dojo</a>
