<div class="heading">
  <h1><%= @dojo.branch %></h1>
  <a href="/edit/<%= @dojo.id %>">Edit</a>
</div>
<br>
<h3>Address: <%= @dojo.street %></h3>
<h3>City: <%= @dojo.city %>, State: <%= @dojo.state %></h3>
<br>
<h3>Student Roster</h3>
<br>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  <% @students.each do |student| %>
  <tr>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= student.email %></td>
    <td>
      <a href="/show/student/<%= student.id%>/<%= @dojo.id %>">Show</a> |
      <a href="/edit/student/<%= student.id%>">Edit</a> |
      <a href="/destroy/student/<%= student.id%>/<%= @dojo.id %>" data-method="delete">Destroy</a>
    </td>
  </tr>
  <% end %>
</table>
<br>
<p><a href="/">Home</a> | <a href="/new/student/<%= @dojo.id %>">Add Student</a></p>
