<%= flash[:success] %>
<hr>
<h1>Submitted Information</h1>
<p>Name: <%= @ninja['name'] %></p>
<p>Dojo location: <%= @ninja['dojo'] %></p>
<p>Fav language: <%= @ninja['language'] %></p>
<p>Comment: <%= @ninja['comment'] %></p>

<a href="/survey"><button>Go Back</button></a>
